@mixin border($direction:all,$color:#e7e7ea) {
  border-color: transparent;
  border-style: solid;
  border-width: 1px;
  @if $direction == top {
    border-top-color: $color;
  } @else if $direction == right {
    border-right-color: $color;
  } @else if $direction == bottom {
    border-bottom-color: $color;
  } @else if $direction == left {
    border-left-color: $color;
  } @else if $direction == all {
    border-color: $color;
  } @else {
    @error "Unknown direction #{$direction}.";
  }
}


@mixin shower($height,$width){
  display: block;
  position: absolute;
  border: 1px solid #e0d6d6;
  border-radius: 5px;
  padding: 10px;
  z-index: 1000;
  top: 40px;  
  background-color: white;
  min-height: $height;
  min-width: $width;
}
@mixin radious($radious:5px) {
  border-radius: $radious;
}

@mixin pictureFram($height, $width) {
  width: $width;
  height: $height;
}

@mixin pictWidth {
    max-width: 100%;
}

