.footer {
    position: relative;
    height: auto;
    width: 100%;
    display: flex;
    /* align-items: center;
    justify-content: center; */
    overflow: hidden;
}

.categoryShower {
    position: relative;
}

.hideBox {
    display: none;
}



.subCat {
    display: flex;
    flex-direction:column;
    flex-wrap:wrap;
    line-height:10px;
    position: absolute;
    top: 10px;
    right: 100px;
    width: 300px;
    overflow: hidden;
    height: 390px;
}
.firstChild {
    font-weight: bold;
    color: black;
}

    .firstChild::before {
        content: "|";
        color: red;
        font-weight: bold;
    }

    .categoryRoot {
        position: relative;
        max-width: 90px;
    }

        .categoryRootHover {
            background-color: #e0d6d6;
        }


.hide {
    display: none;
}

    .hide:hover {
        display: block;
        position: absolute;
        border: 1px solid #e0d6d6;
        border-radius: 5px;
        padding: 10px;
        min-width: 400px;
        z-index: 1000;
        min-height: 400px;
        top: 50px;
        background-color: white;
    }

.categoryShower:hover + .hide {
    display: block;
    position: absolute;
    border: 1px solid #e0d6d6;
    border-radius: 5px;
    padding: 10px;
    z-index: 1000;
    min-width: 400px;
    min-height: 400px;
    top: 50px;
    background-color: white;
}

.footer::before {
    content: "";
    background-image: url('../images/image4.jpg');
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.4;
    height: 300px;
}

.footer div {
    position: relative;
    color: black;
}

.links li a {
    text-decoration: none;
}
